//Compile:
//sass styles.scss styles.css

//compile-auto:
//sass --watch styles.scss:styles.css

@import url('https://fonts.googleapis.com/css?family=Lora');

//vars
$color-blue: #6495ED;
$color-tan: #FAEBD7;
$color-tan-darker: #DEB887;

//mixins
@mixin link-standard {
  &:link, &:visited {
    text-decoration: none;
    @content;
  } 
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: $color-tan;
}

h1, h2 {
  font-family: 'Lora', serif;
}


/* Navigation Links */
header {
  background-color: $color-blue;
  li {
    list-style-type: none;
    text-align: right;
  }
  a {
    @include link-standard {
      color: $color-tan;
    }

    &:hover {
      color: white;
      text-decoration: underline;
    }
    
    &:active {
      color: $color-tan-darker;
      text-decoration: none;
    } 
    
  }
}

/* Other Page Links */
a {
  &:link {
    color: $color-blue;
    
  }

  &:visited {
    color: $color-blue;
    text-decoration: none;
  }

  &:hover {
    
    text-decoration: underline;
  }

  &:active {
    color: $color-tan-darker;
    text-decoration: none;
  }
}

/* Article Title Links */
main {
  h2 a {
    @include link-standard {
      color: black;
    }

    &:hover {
      color: $color-blue;
      text-decoration: underline;
    }

    &:active {
      color: $color-tan-darker;
      text-decoration: none;
    }

  }
}


/*Small Screen*/
@media only screen and (max-width: 400px) {
  header {
    position: fixed;
    top: 0;
    width: 90%;
    padding: 5%;
    
  }

  body {
    margin: 0;
    position: absolute;
    top: 29%;
  }
}

/*Large Screen*/
@media only screen and (min-width: 401px) {
  header {
    position: fixed;
    left: 0;
    height: 100%;
    padding: 5%;
    
  }
  body {
    position: relative;
    left: 29%;
    margin: 0;
  }
}
